[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm
[submodule "third-party/bit7z"]
	path = third-party/bit7z
	url = https://github.com/rikyoz/bit7z.git
[submodule "third-party/freetype"]
	path = third-party/freetype
	url = https://github.com/freetype/freetype.git
[submodule "third-party/libwebp"]
	path = third-party/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "third-party/opus"]
	path = third-party/opus
	url = https://github.com/xiph/opus.git
[submodule "third-party/opusfile"]
	path = third-party/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "third-party/ogg"]
	path = third-party/ogg
	url = https://github.com/xiph/ogg.git
[submodule "third-party/nghttp2"]
	path = third-party/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
